@charset "utf-8";
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
	margin: 0;
	padding: 0px;
}

ul,
li {
	list-style: none;
}

ol,
ul,
button,
input,
select,
textarea {
	margin: 0px;
	padding: 0px;
}

body,
button,
input,
select,
textarea {
	font: 12px "Lucida Grande", tahoma, arial, \5b8b\4f53;
	color: #5E5E5E;
}

html {
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

.head {
	width: 990px;
	height: 98px;
	overflow: hidden;
	margin: 0 auto;
}

.head a {
	float: left;
	margin-left: 10px;
	text-decoration: none;
	color: #333;
}

.login {
	position: relative;
	background: url(../img/login-bg.png) #fff no-repeat left top;
	width: 988px;
	min-height: 335px;
	color: #5e5e5e;
	border: #e6e6e6 1px solid;
	border-top: #0083CE 2px solid;
	box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
	padding-top: 8px;
	margin: 0 auto;
}

.bg-link {
	outline-style: none;
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -9999px;
	display: block;
	width: 560px;
	height: 363px;
}

.login-title {
	padding-left: 588px;
	font: 20px "微软雅黑";
	margin: 13px 0;
	padding-right: 18px;
}

.fr {
	float: right;
	font-size: 12px;
	margin-top: 7px;
}

.blue-link {
	color: #0083CE;
}

.blue-link:hover {
	text-decoration: underline;
}

form {
	display: block;
}

.reg-form {
	padding-left: 588px;
	padding-top: 5px;
}

.reg-row {
	min-height: 70px;
	width: 340px;
	position: relative;
}

.u-name {
	background: url(../img/regest.png) no-repeat 0 0;
	background-position: 8px -114px;
}

.form-control {
	display: block;
	width: 286px;
	height: 26px;
	padding: 6px 12px 6px 40px;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid #e6e6e6;
	-webkit-appearance: none;
}

.form-control1 {
	display: block;
	width: 286px;
	height: 26px;
	padding: 6px 12px 6px 40px;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid #e6e6e6;
	-webkit-appearance: none;
}

.form-control:focus {
	border-color: #0083CE;
	color: #333;
	outline: 0;
}

.u-ps {
	background: url(../img/regest.png) no-repeat 0 0;
	background-position: 8px -145px;
}

.checkbox {
	display: block;
	min-height: 20px;
	margin-top: 0px;
	margin-bottom: 6px;
	padding-left: 20px;
	vertical-align: middle;
}

label {
	cursor: default;
}

.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px;
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	background-color: initial;
	border: initial;
}

.two-week {
	line-height: 12px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	background-color: #0099f1;
	width: 340px;
	border-bottom: #0083ce 2px solid;
	color: #FFF;
	font: 16px "微软雅黑";
	border-radius: 1px;
}

.hz-login {
	padding: 15px;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

.hz-login p {
	margin-top: 10px;
	line-height: 24px;
	color: #5e5e5e;
}

.a-qq,
.a-sina,
.a-wlt,
.a-wy,
.a-yhd,
.a-zfb {
	background: url(../img/img_zhifu.png) no-repeat left top;
	border: none;
	display: block;
	float: left;
	height: 39px;
	margin-right: 18px;
	width: 39px;
}

.hz-login a.a-yhd {
	background-position: 0 0;
}

.hz-login a.first {
	padding-left: 0;
}

.hz-login a {
	line-height: 24px;
	color: #a5a5a5;
	text-indent: -9999px;
	cursor: pointer;
}

.hz-login a.a-zfb {
	background-position: -48px 0;
}

.hz-login a.a-qq {
	background-position: -95px 0;
}

.hz-login a.a-sina {
	background-position: -143px 0;
}

.hz-login a.a-wlt {
	background-position: -241px 0;
}

.hz-login a.a-wy {
	background-position: -191px 0;
}

.hz-login a.last {
	border-right: 0;
	margin: 0px;
}

#simplefooter {
	width: 980px;
	margin: 50px auto 20px auto;
	text-align: center;
}

#simplefooter p {
	display: block;
	margin-top: 10px;
}