@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%
}

em {
	font-style: normal
}

ul,
ol {
	list-style: none
}

a {
	text-decoration: none
}

img {
	border: 0
}

button,
input,
select,
textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

div {
	display: block;
}

.site-nav {
	position: relative;
	z-index: 10000;
	width: 100%;
	background: #f8f8f8;
	border-bottom: 1px solid #e6e6e6;
}

.site-nav:after {
	content: "";
	display: table;
	clear: both;
}

.site-nav-bd {
	margin: 0 auto;
	width: 980px;
	height: 30px;
	background: #f8f8f8;
}

.site-nav-bd:after {
	content: "";
	display: table;
	clear: both;
}

.site-nav-bd-l {
	display: inline;
	float: left;
}

.menu {
	display: inline;
	float: left;
}

.menu-hd {
	z-index: 1000;
	position: relative;
	height: 30px;
	line-height: 30px;
}

.menu-hd a {
	display: inline;
	float: left;
	font-size: 12px;
	color: #5e5e5e;
}

.favorite em {
	background: url(../img/indexhead_sprite.png) no-repeat right 0;
	background-position: -281px -63px;
	width: 17px;
	height: 20px;
	margin-top: 8px;
	overflow: hidden;
	display: inline;
	float: left;
	cursor: pointer;
}

.menu-hd a span {
	display: inline;
	float: left;
	cursor: pointer;
	font-size: 12px;
	color: #5e5e5e;
}

.site-nav-pipe {
	display: inline;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 9px;
	font-style: normal;
	color: #e6e6e6;
}

.tell em {
	background: url(../img/indexhead_sprite.png) no-repeat right 0;
	background-position: -290px -111px;
	width: 10px;
	margin-right: 4px;
	height: 20px;
	margin-top: 8px;
	overflow: hidden;
	display: inline;
	float: left;
	cursor: pointer;
}

.province-box {
	background: url(../img/indexhead_sprite.png) no-repeat right 0;
	background-position: right -147px;
	padding: 0 35px 0 0;
	margin-left: 14px;
}

.province-box span {
	float: left;
}

.province-name {
	background: url(../img/indexhead_sprite.png) no-repeat right 0;
	background-position: right 8px;
	padding: 0 15px 0 5px;
	height: 19px;
	line-height: 18px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin: 5px 0 0 5px;
	font-weight: bold;
}

.site-nav-bd-r {
	display: inline;
	float: right;
}

.site-nav-bd .menu div.menu-hd {
	z-index: 1000;
	position: relative;
	height: 30px;
	line-height: 30px;
}

.menu-hd a {
	display: inline;
	float: left;
	font-size: 12px;
}

.mr5 {
	margin-right: 5px !important;
}

.blue {
	color: #0083CE !important;
}

.site-nav .site-nav-bd .site-nav-bd-r .menu span {
	display: inline;
	float: left;
}

.c-head {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	padding-bottom: 20px;
	padding-top: 20px;
}

#logo .logo {
	color: #0083CE;
	display: inline-block;
	font-size: 35px;
	height: 60px;
	overflow: hidden;
	position: relative;
	width: 180px;
}

#logo .logo .i {
	background: url(../img/check_logo.png)no-repeat 0 0;
	width: 180px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}

h1 {
	font-size: 100%;
}

.c-content {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.flow-steps {
	overflow: hidden;
	margin: 20px 0;
	position: absolute;
	right: 0;
	top: -87px;
}

.num5 li {
	width: 175px;
}

.current {
	background-color: #0083CE !important;
	color: #fff;
	font-weight: bold;
}

.flow-steps li {
	float: left;
	background: url(../img/followstep.png) no-repeat right top #f3f3f3;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	padding: 0 15px 0 0;
	overflow: hidden;
}

span {
	display: block;
}

.flow-steps li.last {
	background-image: none;
}

.cart-first-bar {
	font-family: "微软雅黑";
	padding: 0 0 6px 0;
	line-height: 20px;
	height: 20px;
	border-bottom: 2px solid #a5a5a5;
}

.cart-first-bar .mycarttitle {
	color: #5e5e5e5;
	font-size: 18px;
	float: left;
}

.empty-box {
	border-top: 2px solid #a5a5a5;
	background-color: #fff;
	min-height: 220px;
	width: 980px;
	text-align: center;
}

#simplefooter {
	width: 980px;
	margin: 50px auto 20px auto;
	text-align: center;
}

#simplefooter p {
	display: block;
	margin-top: 10px;
}

#list li {
	float: left;
	width: 980px;
	height: auto;
	padding: 50px 0 0 0;
	text-align: left;
	line-height: 200px;
	font-size: 18px;
	letter-spacing: 2px;
}
.btn_add{
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 100%;
	display: inline;
}
.btn_reduce{
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 100%;
	display: inline;
}
.add-cart-btn2 {
	background-image: url(../img/search_cart.png);
	background-position: 8px 50%;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	border: 0;
	border-left: 1px solid #e5e5e5;
	padding-left: 26px;
	width: 150px;
	float: right;
	border-radius: 20%;
	background-color: red;
	height: 60px;
	/*color: #ff6666;*/
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
	line-height: 1.2;
	cursor: pointer;
}