<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房" />
		<meta name="Description" content="我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房" />
		<title>我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房_1药网（原1号药网）</title>
        {% load static %}
		<link rel="shortcut icon" href="{% static 'img/title.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}" />
{#		<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />#}
		<script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
        <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
        </script>
	</head>

	<body>
		<div class="cartbody">
			<div class="site-nav">
				<div class="site-nav-bd">
					<ul class="site-nav-bd-l">
						<li class="menu">
							<div class="menu-hd">
								<a class="favorite"><em></em><span>收藏本站</span></a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a class="tell"><em></em><span>手机版</span></a>
							</div>
						</li>
						<li class="menu">
							<div class="menu-hd province-box">
								<span>送货至</span>
								<a class="province-name"><b>广东</b></a>
							</div>
						</li>
					</ul>
					<ul class="site-nav-bd-r">

                        <li class="menu">
                            <div class="menu-hd">
                                {% if username %}
                                    <a href="#" class="header-1-1" style="color: #5E5E5E">欢迎您{{ username }}</a>
                                    <a href="{% url 'App:logout' %}" class="header-1-2">注销</a>
                                {% else %}
                                    <a href="{% url 'App:login' %}" class="header-1-1">请登录</a>&nbsp;
                                    <a href="{% url 'App:register' %}" class="header-1-2">注册</a>
                                {% endif %}
                            </div>
                        </li>

						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a href="/pubg/cart/">我的购物车</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>我的1药网</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>帮助中心</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>在线客服</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="c-head">
				<h1 id="logo">
					<a href="index.html" class="logo">壹号药网<span class="i"></span></a>
				</h1>
			</div>
			<div class="c-content">
				<div class="flow-steps">
					<ol class="num5">
						<li ><span>1. 我的购物车</span></li>
						<li class="last"><span>2. 生成订单</span></li>
						<li class="current"><span>3. 查看订单</span></li>
					</ol>
				</div>
				<div class="cart-first-bar">
					<ul>
						<li class="mycarttitle">确认订单</li>
					</ul>
				</div>
				<div class="empty-box" style="position: relative;">
					<ul id="list">
                        <table width="980">
                            <tr>
                                <td>订单号(点击查看)</td>
                                <td>订单金额</td>
                                <td>支付状态</td>
                                <td>操作</td>
                            </tr>
                            {% for order in orders %}
                                <tr>
                                    <td width="230px"><a href="/pubg/order/{{ order.order_id }}/">{{ order.order_id }}</a></td>
                                    <td width="180px">{{ order.total_price }}</td>
                                    <td width="150px">
                                        {% if order.id_pied %}
                                            已支付
                                        {% else %}
                                            未支付
                                        {% endif %}
                                    </td>
                                    <td width="150px">
                                        {% if order.id_pied %}
                                            <a href="#" class="delete" orderid="{{ order.id }}">删除</a>
                                        {% else %}
                                            <a href="#" class="pay" orderid="{{ order.id }}">去支付</a>  <a href="#" class="delete" orderid="{{ order.id }}">删除</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="7"><hr></td>
                            </tr>
                            <tr height="15px"></tr>

                        </table>
                    </ul>
				</div>
			</div>
		</div>
		<div id="simplefooter">
			<p>
				<a href="#">关于1药网 |</a>
				<a href="#">互联网药品交易资格证 |</a>
				<a href="#">互联网药品信息服务资格证 |</a>
			</p>
			<p>
				连锁营业执照| 保健食品卫生许可证| 医疗器械许可证| 食品流通许可证| GSP证书| 粤ICP备12015869号
			</p>
			<p>Copyright© 1药网 2010-2015， All Rights Reserved</p>
		</div>
	</body>
    <script>
        $(function () {
            $('.pay').click(function () {
            let orderid = $(this).attr('orderid')
            // 将订单id提交后台， 后台根据订单id获取订单信息（订单编号，订单金额等）
            $.post("/pubg/pay/", {orderid:orderid}, function (data) {
                // console.log(data);
                let re_url = data.re_url;
                location.href = re_url;
                });
            })
            $('.delete').click(function () {
                {#console.log("我被点击啦")#}
                let orderid = $(this).attr('orderid')
                let that = this
                $.get("/pubg/deleteorder/",{orderid:orderid},function (response) {
                    {#console.log("ok")#}
                    $(that).parent().parent().remove()
                })
            })
        })
    </script>
</html>