<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房" />
		<meta name="Description" content="我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房" />
		<title>我的购物车-1药网（原1号药网）_中国网上药店领导者|网上药房_1药网（原1号药网）</title>
        {% load static %}
		<link rel="shortcut icon" href="{% static 'img/title.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/shoppingorder.css' %}" />
{#		<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />#}
		<script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/shoppingorder.js' %}" type="text/javascript" charset="utf-8"></script>
        <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
        </script>
	</head>

	<body>
		<div class="cartbody">
			<div class="site-nav">
				<div class="site-nav-bd">
					<ul class="site-nav-bd-l">
						<li class="menu">
							<div class="menu-hd">
								<a class="favorite"><em></em><span>收藏本站</span></a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a class="tell"><em></em><span>手机版</span></a>
							</div>
						</li>
						<li class="menu">
							<div class="menu-hd province-box">
								<span>送货至</span>
								<a class="province-name"><b>广东</b></a>
							</div>
						</li>
					</ul>
					<ul class="site-nav-bd-r">

                        <li class="menu">
                            <div class="menu-hd">
                                {% if username %}
                                    <a href="#" class="header-1-1" style="color: #5E5E5E">欢迎您{{ username }}</a>
                                    <a href="{% url 'App:logout' %}" class="header-1-2">注销</a>
                                {% else %}
                                    <a href="{% url 'App:login' %}" class="header-1-1">请登录</a>&nbsp;
                                    <a href="{% url 'App:register' %}" class="header-1-2">注册</a>
                                {% endif %}
                            </div>
                        </li>

						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a href='/pubg/cart/'>我的购物车</a>
							</div>
						</li>
                        <li class="site-nav-pipe">|</li>
                        <li class="menu">
							<div class="menu-hd">
								<a href='/pubg/orders/'>我的订单</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>我的1药网</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>帮助中心</a>
							</div>
						</li>
						<li class="site-nav-pipe">|</li>
						<li class="menu">
							<div class="menu-hd">
								<a>在线客服</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="c-head">
				<h1 id="logo">
					<a href="/pubg/index/" class="logo">壹号药网<span class="i"></span></a>
				</h1>
			</div>
			<div class="c-content">
				<div class="flow-steps">
					<ol class="num5">
						<li ><span>1. 我的购物车</span></li>
						<li class="current"><span>2. 生成订单</span></li>
						<li class="last"><span>3. 查看订单</span></li>
					</ol>
				</div>
				<div class="cart-first-bar">
					<ul>
                        {% if error %}
                            <li class="mycarttitle" style="color: red">错误：{{error}}</li>
                        {% else %}
                            <li class="mycarttitle" style="color: red">订单已生成</li>
                        {% endif %}

					</ul>
				</div>
                <div class="recive" style="margin: 0px auto;">
                    <p>订单号：{{ order.order_id }}</p>
                    <p>收货人：张三</p>
                    <p>收货地址：广东省 深圳市 宝安区 西部硅谷 前锋教育605</p>
                    <p>收货人电话：110</p>
                </div>
				<div class="empty-box" style="position: relative;">
					<ul id="list">
                        <table width="980">
                            <tr>
                                <td>商品图片</td>
                                <td>商品名称</td>
                                <td>商品数量</td>
                                <td>商品单价</td>
                            </tr>
                            {% for cart in carts %}
                                <tr>
                                <td width="230px"><img src="{% static cart.goods.small_img %}" ></td>
                                <td width="180px"><a href="#">{{ cart.goods.name }}</a></td>
                                <td width="150px"><span style="display: inline">{{ cart.num }}</span></td>
                                <td width="150px">{{ cart.goods.price }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="7"><hr></td>
                            </tr>
                            <tr height="15px"></tr>
                            {% if not error %}
                                {% if not order.id_pied %}
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>总价:<span id="total_price">{{ order.total_price }}</span></td>
                                        <td colspan="2"  ><button class='add-cart-btn2' orderid="{{ order.id }}">立刻支付</button></td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </table>
                    </ul>
				</div>
			</div>
		</div>
		<div id="simplefooter">
			<p>
				<a href="#">关于1药网 |</a>
				<a href="#">互联网药品交易资格证 |</a>
				<a href="#">互联网药品信息服务资格证 |</a>
			</p>
			<p>
				连锁营业执照| 保健食品卫生许可证| 医疗器械许可证| 食品流通许可证| GSP证书| 粤ICP备12015869号
			</p>
			<p>Copyright© 1药网 2010-2015， All Rights Reserved</p>
		</div>
	</body>

</html>